<b>У вас нове замовлення {{ order.pk }}</b>

<b>Посилання:</b> https://{{ base_url }}{{ order.get_absolute_url }}
<b>Сума замовлення:</b> {{ order.get_total_cost }}

<b>Прізвище:</b> {{ order.last_name }}
<b>Ім'я:</b> {{ order.first_name }}
<b>Телефон:</b> {{ order.phone }}
<b>E-mail:</b> {{ order.email }}
<b>Доставка:</b> {{ order.get_delivery_display }}
{% if order.delivery == 'nd' or order.delivery == 'xd' %}<b>Адреса:</b> {{ order.city }}, {{ order.nova_office }}{% endif %}
<b>Оплата:</b> {{ order.get_payment_display }}

<b>Потрібно передзвонити:</b> {% if order.dont_callback}Ні{% else %}Так{% end if%}
